

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
}
video, img {
    overflow:clip !important;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    background-color: #f3eff5;
}

.container a {
    text-decoration: none;
    cursor: pointer;
}
  .banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1192px;
    margin: 0 auto;
    position: relative;
    padding: 0 1rem;
    margin-bottom: 0.3rem;
  }
  
  video {
    width: 100%; /* Set video width to 100% for responsiveness */
    position: absolute;
    max-width: 1440px;
    top: 0;
  margin: 0 auto;
  object-fit: inherit;
  height: 137px
  }
  
  .logo {
    position: relative;
    margin: 0 auto;
    width: 8rem;
    top: -0.5rem;
  }
  

  
  .item-right {
    border-bottom: 1px solid transparent;  /* Border only at the bottom */
    padding: 10px 20px;
    width: 150px;
    text-align: center;
    transition: all 0.2s;
    position: relative;
}
  .social-icons {
    display: flex;
    gap: 0.5rem;
  }
  .aboneaza-te {
    color: #b6946e;
      font-family: Questrial;
      font-size: 16px;
      font-weight: 400;
      text-transform: uppercase;
  }
  

  .social-media img {
    width: 26px;
    height: 26px;
    border: 1px solid transparent;
  }
  
  .social-media:hover  img {
    transition: 0.2s;
    border: 1px solid #b6946e;
  }
  
  .line-8 {
    height: 24px;
    border-left: 1px solid #a19280;
  align-self: center;
  }

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3eff5;
}

.sticky {
    position: fixed;
    max-width: 1194px;
    margin: 0 auto;  /* Center horizontally */
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    transition: all 0.4s;
    box-shadow: 0 5px 5px -4px #B8A794;
}


.main-navigation {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    width: 1192px;
    position: relative;
    height: 4.5rem;
    background-color: #f3eff5;
    z-index: 1;
}

.navigation-list {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: center;
    position: relative;
}

.navigation-list li {
    list-style: none;
}
.hover::after, .item-right::after {
    content: '';
    position: absolute;
    width: 0px;
    height: 1px;
    left: 50%;
    bottom: 0;
    background-color: #B6946E;
    transition: all ease-in-out .2s;
}

.hover:hover::after, .item-right:hover::after {
    width: 100%;
    left: 0;
}

.hover {
    padding: 0.5rem;
}

.main_list {
    color: #1d1001;
    text-align: left;
    font-family: "Cinzel", serif;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    display: flex;
}

.search-box {
    width: fit-content;
    height: fit-content;
    position: relative;
    border-style: solid;
    border-color: #ded8d1;
    border-width: 0px 0px 0px 1px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.input-search {
    height: 35px;
    width: 35px;
    border-style: none;
    padding: 10px;
    font-size: 15px;
    letter-spacing: 1px;
    outline: none;
    transition: all .5s ease-in-out;
    background-color: transparent;
    padding-right: 40px;
    color: #1D1001;
    font-family: Questrial;
    
}

.input-search::placeholder {
    color: rgba(97, 89, 89, 0.5);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
    font-family: Questrial;
}

.btn-search {
    width: 40px;
    height: 40px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    position: absolute;
    right: 0px;
    background-color: transparent;
}

.btn-search:hover {
    transform: scale(1.2);
    transition-duration: 0.2s;
} 
.input-search:focus {
    width: 400px;
    background-color: transparent;
    border: 1px solid #B6946E;
    transition: all 500ms;
    background-color: #f3eff5;
}

.fa-search {
    color: #B6946E;
    width: 26px;
    height: 26px;
}

.menu-toggle {
    display: none; /* Initially hide the hamburger menu */
    cursor: pointer;
    font-size: 24px; /* Adjust the font size as needed */
    color: #1d1001; /* Adjust the color as needed */
}

/* Media query for screens with a width of 768px or less */
@media only screen and (max-width: 750px) {

      #burger-menu {
        cursor: pointer;
        height: 27px;
        width: 27px;
        margin: 1.4rem;
        overflow: visible;
        position: relative;
        z-index:2;
        z-index: 3;
      }
      #burger-menu span,
      #burger-menu span:before,
      #burger-menu span:after {
        background: #B6946E;
        display: block;
        height: 2px;
        opacity: 1;
        position: absolute;
        transition: 0.3s ease-in-out;
      }
      #burger-menu span:before,
      #burger-menu span:after {
        content: "";
      }
      #burger-menu span {
        right: 0px;
        top: 13px;
        width: 27px;
      }
      #burger-menu span:before {
        left: 0px;
        top: -10px;
        width: 16px;
      }
      #burger-menu span:after {
        left: 0px;
        top: 10px;
        width: 20px;
      }
      
      #burger-menu.close span {
        transform: rotate(-45deg);
        width: 27px;
      }
      #burger-menu.close span:before {
        top: 0px;
        transform: rotate(90deg);
        width: 27px;
      }
      #burger-menu.close span:after {
        top: 0px;
        left:0;
        transform: rotate(90deg);
        opacity:0;
        width:0;
      }
      
      #menu{
        z-index:1;
        min-width:100%;
        min-height:100%;
        position: fixed;
        top:0;
        height:0;
        visibility: hidden;
        opacity: 0;
        text-align:center;
        padding-top:20px;
        transition: all 0.3s ease-in-out;
      }
      
      #menu.overlay{
        visibility: visible;
        opacity: 1;
        padding-top:10rem;
        background-color: rgba(243, 239, 245, 0.9);
      }
      
}

   

.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: auto;
    top: -2.5rem;
}

.carousel {
    max-width: 1352px;
    width: 1352px;
    height: 606px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
}

button {
    cursor: pointer;
}

.arrow-right-svgrepo-com-1-1 {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 1312px;
    top: 318px;
    transform: translate(-20%, 0);
    transition-duration: 0.2s;
}

.arrow-right-svgrepo-com-1-1:hover {
    transform: scale(1.2);
}

.arrow-right-svgrepo-com-1-2:hover {
    transform: scale(1.2);
}

.arrow-right-svgrepo-com-1-2 {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0px;
    top: 318px;
    transform: translate(20%, 0);
    transition-duration: 0.2s;
}

.carousel2 {
    width: 1192px;
    height: 606px;
    position: relative;
    top: 40px;
    right: 0.1rem;
}

.frame-47 {
    border-width: 1px 0px 0px 0px;
    padding: 40px 334px 40px 334px;
    position: relative;
    top: 310px;
    background: var(--gradients-white, linear-gradient(180deg, rgba(223, 208, 221, 0.85) 0%, rgba(255, 255, 255, 1.00) 100%));
    border-style: solid;
    border-color: var(--white, #a897b3);
}

.frame-49 {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.frame-48 {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.despre-via {
    color: var(--accent, #b6946e);
    text-align: left;
    font-family: "Josefin Sans";
    font-size: 13px;
    line-height: 130%;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
}

.tr-ie-te-i-via-a-pe-deplin {
    color: var(--title, #1d1001);
    text-align: left;
    font-family: "Sansita", sans-serif;
    font-size: 40px;
    line-height: 130%;
    font-weight: 400;
    position: relative;
}

.tr-ie-te-i-via-a-cu-pasiune-i-autenticitate-fiecare-zi-reprezint-o-oportunitate-de-a-descoperi-de-a-nv-a-i-de-a-experimenta-nu-am-na-fericirea-pentru-mai-t-rziu {
    color: #71665a;
    text-align: center;
    font-family: Questrial;
    font-size: 16px;
    line-height: 130%;
    font-weight: 400;
    position: relative;
    width: 524px;
}

.cite-te-acest-articol {
    color: #000000;
    text-align: left;
    font-family: "Josefin Sans";
    font-size: 14px;
    line-height: 130%;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: underline;
    position: relative;
}


.frame-56:hover .arrow-right-svgrepo-com-1-12 {
    transform: scale(1.2);
    transform: translate(20%, 0);
    transition-duration: 0.2s;
}
.link1:hover .arrow-right-svgrepo-com-1-12 {
    transform: scale(1.2);
    transform: translate(20%, 0);
    transition-duration: 0.2s;
}



.category-page {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    position: relative;
    top: 4rem;
    width: 100%;
}

.blog-uri-pe-categorii {
    color: var(--title, #1d1001);
    text-align: left;
    font-family: "Sansita", sans-serif;
    font-size: 32px;
    line-height: 130%;
    font-weight: 400;
    position: relative;
}

.frame-76 {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.frame-73 {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.frame-66 {
    flex-shrink: 0;
    width: 381px;
    height: 407px;
    position: relative;
}

.frame-72 {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 381px;
    position: relative;
}

.frame-71 {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.frame-93 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.frame-70 {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.text1 {
    color: #b68349;
    text-align: left;
    font-family: "Josefin Sans";
    font-size: 16px;
    line-height: 130%;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
}

.text2 {
    color: #71665a;
    text-align: center;
    font-family: Questrial;
    font-size: 16px;
    line-height: 130%;
    font-weight: 400;
    position: relative;
    width: 306px;
}

.text3 {
    color: #000000;
    text-align: left;
    font-family: "Josefin Sans";
    font-size: 13px;
    line-height: 130%;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: underline;
    position: relative;
}

.frame-74 {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.frame-92 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}



.arrow-right-svgrepo-com-1-12 {
    top: -2px;
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
}

.frame-75 {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.frame-91 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}




.about-rodica-section {
    position: relative;
    top: 4rem;
    max-width: 1192px;
    margin: 0 auto;
}

.line-10 {
    border-style: solid;
    border-color: #ded8d1;
    border-width: 1px 0 0 0;
    position: relative;
    transform: rotate(0deg) scale(1, 1);
    width: 100%;
    margin: 40px 0;
}

.frame-62 {
    display: flex;
    align-items: center;
    position: relative;
    width: 1192px;
}

.frame-63 {
    display: flex;
    gap: 40px;
    align-items: center;
    position: relative;
    width: 1000px;
}

.frame-61 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    width: 847px;
    position: relative;
}

.frame-52 {
    position: relative;
    width: 24rem;
}

.frame-53 {
    display: flex;
    gap: 8px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    left: 40px;
}

.frame-90 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.frame-64 {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.p-rezentare {
    color: var(--accent, #b6946e);
    text-align: left;
    font-family: "Josefin Sans";
    font-size: 13px;
    line-height: 130%;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
}

.hey-eu-sunt-rodica {
    color: var(--title, #1d1001);
    text-align: left;
    font-family: "Sansita", sans-serif;
    font-size: 32px;
    line-height: 130%;
    font-weight: 400;
    position: relative;
}

.lorem-ipsum-dolor-sit-amet-consectetur-ac-purus-sed-habitant-amet-pellentesque-gravida-urna-eget-eget-a-orci-dignissim-enim-enim-amet-turpis-cursus-faucibus-dui-ut-sodales-dui-risus-bibendum-sagittis-amet-nisl-ornare-neque-pharetra-phasellus-nibh-eu-sollicitudin-tristique-ultrices-ultricies-egestas-amet-magna-morbi-auctor-faucibus-amet {
    color: #71665a;
    text-align: left;
    font-family: Questrial;
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
    position: relative;
    width: 382px;
}

.frame-512 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.frame-56 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.frame-55 {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.frame-57 li {
    list-style: none;
}

.a-fl-mai-multe-despre-mine {
    color: #000000;
    text-align: left;
    font-family: "Josefin Sans";
    font-size: 14px;
    line-height: 130%;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: underline;
    position: relative;
}

.arrow-right-svgrepo-com-1-11 {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: visible;
}

.line-12 {
    border-style: solid;
    border-color: #ded8d1;
    border-width: 1px 0 0 0;
    width: 6rem;
    position: relative;
    transform: rotate(-90deg) scale(4.6, 1);
}

.frame-58 {
    gap: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: center;
    width: 200px;
    text-decoration: none;
}

.list a {
    text-decoration: none;
}

.link-uri-rapide {
    color: #71665a;
    text-align: left;
    font-family: "Josefin Sans";
    font-size: 14px;
    line-height: 130%;
    font-weight: 400;
    position: relative;
}

.frame-57 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.category-list {
    color: #000000;
    text-align: left;
    font-size: 16px;
    line-height: 130%;
    font-weight: 400;
    position: relative;
    font-family: "Josefin Sans";
}

.frame-40 {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}
.frame-402 {
    display: flex;
    gap: 16px;
    margin-top: 2rem;
}

.frame-392 {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.frame {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
}

.frame2 {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: visible;
}

.container11 {  
    max-width: 1192px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: relative;
    top: 5rem;
    text-align: center;
  }
  
  .blog-title {
    color: var(--Title, #1D1001);
    font-family: Sansita, sans-serif;
font-size: 2rem;
font-style: normal;
font-weight: 400;
line-height: 130%; /* 2.6rem */
margin-bottom: 2rem;
  }

  .content11 {  
    display: grid;
    gap: 1.5rem;
    grid-template-areas:
      "section1 section2";
    width: 100%;
    text-align: start;
  }
  
  .section1 {  
    display: grid;
    grid-auto-flow: row;
    grid-template-areas:
      "photo"
      "text01"
      "text02"
      "text03"
      "text04";
      gap: 0.5rem;
  }
  
  .photo { grid-area: photo;
    width: 36.5rem;
    height: 41.0625rem; }
  
  .text01 {  display: flex;
    color: var(--Accent, #B6946E);
font-family: "Josefin Sans";
font-size: 0.8125rem;
font-style: normal;
font-weight: 700;
line-height: 130%; /* 1.05625rem */
text-transform: uppercase;
justify-content: space-between;
align-items: center;
  }
  
  .svg1 { 
    width: 1.5rem;
    height: 1.5rem;}
  
  .text02 { color: var(--Title, #1D1001);
    font-family: "Josefin Sans";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 1.95rem */ }
  
  .text03 {  
color: #030303;
font-family: Questrial;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 1.5rem */
  }
  .content11 a {
    text-decoration: none;
    color: #000;
font-family: "Josefin Sans";
font-size: 0.875rem;
font-style: normal;
font-weight: 600;
line-height: 130%; /* 1.1375rem */
text-decoration-line: underline;
text-transform: uppercase;
  }
  
  .text04 {  
    display: flex;
justify-content: space-between;
align-items: center;
  }

.date {
color: #C4B4A2;
font-family: "Josefin Sans";
font-size: 0.8125rem;
font-style: normal;
font-weight: 700;
line-height: 130%; /* 1.05625rem */
}


  .link1 { 
    display: flex;
    align-items: center;
}
  
  .section2 {  
    display: grid;
    grid-auto-flow: row;
    grid-template-areas:
      "info1"
      "info2";
  }
  
  .info1 { 
    display: grid;
    gap: 0.5rem;
    grid-auto-flow: row;
  }

  
  .photo1 { 
    width: 36.5625rem;
height: 17.5rem;
  }
  
  .text011 { 
    color: var(--Accent, #B6946E);
font-family: "Josefin Sans";
font-size: 0.8125rem;
font-style: normal;
font-weight: 700;
line-height: 130%; /* 1.05625rem */
text-transform: uppercase;
   }
  
  .text012 { 
    color: var(--Title, #1D1001);
font-family: "Josefin Sans";
font-size: 1.125rem;
font-style: normal;
font-weight: 500;
line-height: 130%; /* 1.4625rem */
   }
  
  .text013 { 
color: #71665A;
font-family: Questrial;
font-size: 0.875rem;
font-style: normal;
font-weight: 400;
line-height: 150%; }
  
  
  .info2 {  
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    margin-top: 1rem;
  }
  
.ainfo {
    display: grid;
    gap: 0.5rem;
}
  .aphoto { 
    width: 17.5rem;
height: 17.5rem;
}

@media (max-width: 1250px) {


  .container11 {
      width: 80%;
  }

  .photo,
  .photo1,
  .aphoto {
      width: 100%;
      height: auto;
      margin: 1rem 0;
  }

  .content11 {
    display: flex;
    flex-wrap: wrap;
  }
 
}


@media (max-width: 768px) {
  
  .info2 {
    display: grid;
    grid-template-columns: 1fr;

}
}

.align-center {
    position: relative;
    max-width: 1440px;
    top: 4rem;
    text-align: center;
    margin: 0 auto;
}
.instagram-title {
    color: var(--title, #1d1001);
    font-family: "Sansita", sans-serif;
  font-size: 32px;
  line-height: 130%;
  font-weight: 400;
  left: calc(50% - 131.5px);
  top: 0px;
  }
.instagram_post {
    display: flex;
    flex-wrap: wrap;
    max-width: 1192px;
    position: relative;
  margin: 0 auto;
  justify-content: space-around;
  top: 30px;
  gap: 1.5rem;
  margin-bottom: 30px;
}

    .content {
        position: relative;
        width: 381px;
  height: 381px;
    }


.image {
    width: 23.8rem;
height: 23.8rem;
}
.new-icon {
    position: absolute;
    width: 40px;
height: 40px;
top: 1.5rem;
right: 1.5rem;
opacity: 0;
transition: .5s ease;
}
.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(255, 255, 255);
    width: 23.8rem;
height: 5rem;
padding-top: 1rem;
    transition: .5s ease;
    opacity: 0;
    margin: 0 auto;
    text-align: center;
    color: var(--Title, #1D1001);
font-family: "Josefin Sans";
font-size: 20px;
font-style: normal;
font-weight: 700;
}
.frame11 {
    width: 22px;
    height: 22px;
    position: relative;
    top: 0.3rem;
}

.content:hover .overlay, .content:hover .new-icon {
    opacity: 1;
}
@media (max-width: 1250px) {
  
 .new-icon {
        opacity: 1;
}
}
/* footer */

.footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    max-width: 1440px;
    height: auto;
    position: relative;
    top: 14rem;
    background: var(--gradients-white, linear-gradient(180deg, rgba(228, 216, 226, 0.85) 0%, rgba(255, 255, 255, 1.00) 120%));
}
.navigation-list {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: center;
    position: relative;
}

.navigation-list li {
    list-style: none;
}

.line-1 {
    border-style: solid;
    border-color: #B8A794;
    border-width: 1px 0 0 0;
    align-self: stretch;
    position: relative;
}

.footer-items {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;
    position: relative;
}


.rodica-copyrighted {
    color: #b8a794;
    font-family: Questrial;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    margin-bottom: 1.2rem;
}
@media (max-width: 768px) {
    .navigation-list {
      display: flex;
      flex-direction: column ; /* Assuming you want to stack items vertically */
      align-items: center;
      gap: 1rem;
    }
  }