* {
  margin: 0;
  padding: 0;
}
.main-banner {
max-width: 1440px;
margin: 0 auto;
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1192px;
  margin: 0 auto;
  position: relative;
  padding: 0 1rem;
}

video {
  width: 100%; /* Set video width to 100% for responsiveness */
  position: absolute;
  max-width: 1440px;
  top: 0;
margin: 0 auto;
object-fit: inherit;
height: 137px
}

.logo {
  position: relative;
  margin: 0 auto;
  width: 8rem;
  top: -0.5rem;
}

.banner a {
  text-decoration: none;
  cursor: pointer;
}

.item-right {
  border-style: solid;
  border-color: #b6946e;
  border-width: 1px;
  padding: 12px 31px;
  width: 179px;
  text-align: center;

}
.social-icons {
  display: flex;
  gap: 0.5rem;
}
.aboneaza-te {
  color: #ece8e3;
    font-family: Questrial;
    font-size: 16px;
    line-height: 130%;
    font-weight: 400;
    text-transform: uppercase;
}

.item-right:hover {
  background-color: rgb(236, 220, 235, 0.8);
  transition: 0.2s;
}

.item-right:hover div {
  color: #1d1001;
  transition: 0.2s;
}
.social-media img {
  width: 24px;
  height: 24px;
  border: 1px solid transparent;
}

.social-media:hover  img {
  transition: 0.2s;
  border: 1px solid #b6946e;
}

.line-8 {
  height: 24px;
  border-left: 1px solid #a19280;
align-self: center;
}